body {
    text-align: inherit;

}

.card img {
    height: 150px;
  object-fit: cover;
}

.card {
    min-width: 200px;
    max-width: 200px;
    padding: 1rem;
    margin: 1rem  !important;
}

.card-body a{
    display: block;
    margin: 10px 0;
}

.pagin {
    text-align: center;
    margin: 30px auto;
    padding: 1rem;

}

.productImage img{
    width: 100%;
    max-height: 300px;
}
